/* CSS index */
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
p.buttonText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(255,255,255);
}
p.winTitles{
	margin-left: 30px;
}
body{
	background-color: rgb(240,240,240);
}
/* --TOP BAR--TB */
#header{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 70px;
	background-color: white;
	box-shadow: 1px 1px 3px 0px rgb(90,90,90);
	z-index: -1;
}
#logoBox{
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 195px;
	height: 70px;
}
#logo{
	width: 195px;
	height: 70px;
}
/* --LOG IN--TB*/
#invisBanner{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
}
#rightTopAlign{
	position:relative;
	margin-left: 100%;
}
#logInOutButton{
	position:relative;
	width: 130px;
	height: 35px;
	left:-130px;
	border-radius: 3px;
	background-color: rgb(97,175,202);
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#wordHolder1{
	position:absolute;
	left: 22px;
	top: -13px;
}
/* --MAIN BODY--MB*/
#mainBody{
	position: absolute;
	top: 70px;
	width: 100%;
	left:0px;
}
#titleBody{
	position: absolute;
	top: 70px;
	width: 100%;
	left:0px;
}
#searchWinTitles{
	position: relative;
	top: -6px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 270px;
	z-index: 2;
}
/* --DROP DOWN MENU BUTTONS--MB*/
#searchWin{
	position: relative;
	top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 265px;
	height: 263px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 1px 1px 3px 0px rgb(90,90,90);
}
#timeFrom{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 39px;
	width: 58px;
	height: 18px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 1px rgb(90,90,90);
}
#timeTo{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 21px;
	left: 80px;
	width: 58px;
	height: 18px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 1px rgb(90,90,90);
}
#date{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 37px;
	width: 58px;
	height: 18px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 1px rgb(90,90,90);
}
#numOfPeople{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 53px;
	width: 58px;
	height: 18px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 1px rgb(90,90,90);
}
#yesNo{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 69px;
	width: 58px;
	height: 18px;
	background-color: white;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 1px rgb(90,90,90);
}
#searchButton{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 80px;
	width: 130px;
	height: 35px;
	background-color: rgb(92,184,92);
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#wordHolder2{
	position:absolute;
	left: 49px;
	top: -13px
}
#manualButton{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 90px;
	width: 130px;
	height: 35px;
	background-color: rgb(92,184,92);
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#wordHolder3{
	position:absolute;
	left: 15px;
	top: -13px
}
#helpWin{
}
/* --BOTTOM BAR--BB*/
#footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: white;
	z-index: 1;
}