/* CSS index */
/* -- CLASSES -- */
p.buttonText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(255,255,255);
}
body{
	background-color: rgb(240,240,240);
}
/* --TOP BAR--TB */
#header{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
	height: 70px;
	background-color: white;
	box-shadow: 1px 1px 3px 0px rgb(90,90,90);
	z-index: -1;
}
#logoBox{
	position: relative;
	top: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 195px;
	height: 70px;
}
#logo{
	width: 195px;
	height: 70px;
}
/* --LOG IN--TB*/
#invisBanner{
	position: absolute;
	left:0px;
	top:0px;
	width: 100%;
}
#rightTopAlign{
	position:relative;
	margin-left: 100%;
}
#logInOutButton{
	position:relative;
	width: 130px;
	height: 35px;
	left:-130px;
	border-radius: 3px;
	background-color: rgb(97,175,202);
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#logInOutButton:hover{
	background-color: rgb(67,145,172);
}
#wordHolder1{
	position:absolute;
	left: 22px;
	top: -13px;
}
/* --MAIN BODY--MB*/
#mainBody{
	position: absolute;
	top: 70px;
	width: 100%;
	left:0px;
}
#titleBody{
	position: absolute;
	top: 70px;
	width: 100%;
	left:0px;
}
#searchWinTitles{
	position: relative;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 270px;
	z-index: 2;
}
#searchWin{
	position: relative;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 400px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 1px 1px 3px 0px rgb(90,90,90);
}
#searchTitle{
	position: absolute;
	top: 0px;
	margin-top: 20px;
	margin-left: 58px;
	font-size: 20px;
	font-weight: bold;
}
#searchDetails{
	position: absolute;
	font-size: 14px;
	top: 60px;
	margin: 30px;
}
#searchButton{
	position: absolute;
	left: 15px;
	top: 300px;
	width: 130px;
	height: 35px;
	background-color: rgb(92,184,92);
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#searchButton:hover{
	background-color: rgb(62,154,62);
}
#wordHolder2{
	position:absolute;
	left: 49px;
	top: -14px
}
#manualButton{
	position: absolute;
	left: 155px;
	top: 300px;
	width: 130px;
	height: 35px;
	background-color: rgb(92,184,92);
	border-radius: 3px;
	box-shadow: 0px 1px 0px 0px rgb(90,90,90);
}
#manualButton:hover{
	background-color: rgb(62,154,62);
}
#wordHolder3{
	position:absolute;
	left: 11px;
	top: -14px
}
#helpWin{
}
/* --BOTTOM BAR--BB*/
#footer{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background-color: white;
	z-index: 1;
}